body{
    background-color: white;
}

/* Início */
#borda{
    border: 1px solid #2D144E;
    background-color: #2D144E;
    width: auto;
    height: 100px;
    display: flex;
    justify-content: flex-end;

}
.elementosborda{
    display: inline;
    margin: 35px;
    color: #FFC701;
    font-family: Poppins;
    font-size: 20px;

}

h2{
    margin-bottom: 45px;
}

a:hover{
    color: mediumpurple;
}

#logo{
    margin-left: 150px;
    margin-top: -80px;
}

/* Corpo do Texto */

#meio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 90%;
}

#meio2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 90%;
}

#titulomeio{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Poppins SemiBold";
    font-size: 50px;
    color: black;
    border-bottom: solid;
}

#linha{
    color: #2D144E;
    background-color: #2D144E;
    height: 2px;
    width: auto;
}
#quadro1{
    display: block;
    justify-content: center;
    align-content: center;
    height: 400px;
    width: 400px;
    text-align: justify;
    font-size: 20px;
    font-family: Poppins;
}
#quadro2{
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 800px;
    text-align: justify;
    font-size: 20px;
    font-family: Poppins;
}

/* Fim */
#fim{
    border: 1px solid #B2B28B;
    background-color: #B2B28B;
    height: 400px;
    width: auto;
}
#parte1fim{
    margin-left: 150px;
    margin-top: 130px;
}
.letrafim{
    color: white;
    font-size: 18px;
    font-family: "Poppins Thin";
}

#parte2fim{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 150px;
    margin-top: -125px;
    font-family: "Poppins Thin";
    text-align: right;
    color: white;
    font-size: 18px;
}

#imagemrelatos{
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.botao{
    position: relative;
    z-index: 2;
    display: flex;
    border-radius: 20px;
    padding: 10px 100px;
    margin-top: -24px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #FFC701;
    color: black;
    justify-content: space-around;
}
